<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load staticfiles %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'hp/css/bootstrap-theme.min.css' %} ">
    <link rel="stylesheet" type="text/css" href="{% static 'hp/css/bootstrap.min.css' %}">
    <script src="{% static 'hp/js/JQ.js' %}"></script>
    <script src="{% static 'hp/js/bootstrap.min.js' %}"></script>
</head>
<body>
<ol class="breadcrumb">
    <li><a href="\admin\">Admin</a></li>
    <li><a href="\hp\">Home</a></li>
    <li class="active">detailed</li>
</ol>
<div class="jumbotron">
    <h1>Error:post_error</h1>
</div>
</body>
</html>